.App {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form div {
  margin-bottom: 10px;
  float: left;
}

form input{
  margin-left: 10px;
}

button {
  padding: 10px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.payslip {
  text-align:left;
  margin-left: 38%;
}

.heading {
text-align: center;
}